@model List<Models.Post>
@{
    ViewBag.Title = "Index";
}
<h2>
    Twój profil</h2>

<script src="@Url.Content("~/Scripts/fancyBox/lib/jquery-1.8.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fancyBox/source/jquery.fancybox.pack.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/fancyBox/source/helpers/jquery.fancybox-buttons.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery.fancybox.css")" rel="stylesheet" type="text/css" media="screen" />
<link href="@Url.Content("~/Scripts/fancyBox/source/helpers/jquery.fancybox-buttons.css")" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({

            loop: false,
            
            helpers: {
                title: {
                    type: 'outside'
                }
            }
        });
    });
</script>


@foreach (var item in Model)
{
    <table>
        <tr>
            <th>
            </th>
        </tr>
        @{if (item.PhotoId != null)
          {
              string imageName = "/uploads/" + item.PhotoId + ".jpg"; 
        <tr>
            <td>
                <a class="fancybox" href="@Url.Content(@imageName)" title="@item.Photo.Description">    <img src="@Url.Content(@imageName)" alt="" width="20%" height = "20%"/></a>
            </td>
        </tr>
          }
        }
        <tr>
            <td>
                @item.Text
            </td>
        </tr>
        <tr>
            <td>
                @item.CreationDate.ToString()
            </td>
        </tr>
        <tr>
            <td>
                @item.User.Name
            </td>
        </tr>
    </table>
    
    <br />
    <br />
    <br />
}

@Html.ActionLink("Dodaj wpis", "AddPost", "Blog", null, new { @id= "button" })
